@keyframes pulse-anim{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.transition {
    transition: all .5s ease-in-out;
}

.transition-panel {
    position: absolute;
    width: 100%;
}
.out-left {
    transform: translateX(-100%);
}

.out-right {
    transform: translateX(100%);
}
.pulse {
    animation: pulse-anim 2s linear infinite;
}
