@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto');
h1,
h3, h2, h4 ,h5{

    font-family: 'Open Sans Condensed', sans-serif;
}

label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.1rem;
}

.titulo-container {
    text-shadow: 3px -1px 3px #ccc;
    letter-spacing: -2px;
    font-size: 65px;
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.btnback {
    margin-left: 1%;
    margin-top: 1%;
}

.btn-superior{
    padding: 7px 19px !important;
    margin-top: 1%; 
    width: 57px;
}

body {
    overflow: hidden;
}

.estandar {
        height: calc((100vh / 2) - -43px);
    
}


.centradoPanel {
    text-align: -webkit-center;
}

.img-panelsuperior {
    height: 50px;
}

#iconoRepro {
    float: right;
}

.posicionE #iconoRepro  {
 float: left; 
} 

button#popover {
    padding: 2%;
    background: #a8a9ad;
}
button#popover2 {
    padding: 2%;
    background: #a8a9ad;
}

.badge { 
    background-color: #a8a9ad;
}

.subtitulo{
    font-size: 26px;
    text-align: center;
}

#emprendimiento h6{
    font-size: 15px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
}

.parrafo-informacion-empresa{
    font-size: 15px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
}
/* pantalla de inicio*/

.pantalla-completa {
    background: url(../recurso/fondos/fondo_inicio.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    text-shadow: 3px -1px 3px #ccc;
    letter-spacing: -2px;
    font-size: 50px;
    text-align: center;
}



.bottom {
    position: absolute;
    bottom: 10%;
    right: 4;
    left: 26%;
}
.btn-user{
    font-size: 1.5rem;
}

.parametro{
    font-family: 'Roboto', sans-serif;
}

.caracteristicas-parrafo{
    font-size: 1.3rem;
    font-weight: 600;
}
.caracteristicas-parrafo2{
    font-size: 1.1rem;
    font-weight: 600;
}


.img-responsive {}

/* boton de registrarse*/

.bttmMain {
    font-size: 2.2rem;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 15px 15px;
    width: 100%;
}

.posicion {
    position: absolute;
    top: 13%;
    right: 15%;
    height: auto;
    width: 300px;
}

/* pantalla de registro*/

#registro .posicion {
    position: absolute;
    height: 100%;
    top: 0;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registroPantalla {
    /* background: url(../recurso/pantalla2.png); */
    background-color: #c0c0c0;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 55px);
}

.modalRegistro {
    background: rgba(0, 0, 0, .0001);
    border: 1px solid black;
    padding-right: 3%;
    padding-left: 3%;
    -webkit-box-shadow: 14px 7px 11px -1px rgba(236, 237, 234, 0.69);
    -moz-box-shadow: 14px 7px 11px -1px rgba(236, 237, 234, 0.69);
    box-shadow: 14px 7px 11px -1px rgba(236, 237, 234, 0.69);
    margin-top: 20px
}

.TituloR>h1 {
    text-align: center;
    font-size: 5rem;
}

.BotonRegistro {
    font-size: 1.8rem;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 15px 104px;
    width: 400px;
    margin-left: 12%
}

/*formulario*/

iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 0;
}

/* mapa*/
.iconosPanelsuperior:hover{
    opacity: 1;
}
.iconosPanelsuperior {
    padding-top: 4px;
    color: white;
    margin-top: 0%;
    font-size: 1rem;
    opacity: 0.8;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0px !important;
}

#mapa .posicion {
    top: 10%;
}

.panelsup h3 {
    color: white;
    float: right;
    margin-bottom: -1%;
    margin-top: 0%;
    margin-right: 1%;
    font-size: 2.2rem;
}

.panelsup {
    background: #8d8e8f;
    width: 100%;
    height: 53px;
}

#map {
    height: calc(100vh - 53px);
    width: 100%;
}

.mensaje {
    background: #ffffffdb;
    position: absolute;
    top: 7%;
    text-align: center;
    border-radius: 21%;
    width: 34%;
    left: 45%;
}

button#btnCarga {
    padding: 12px 22px;
}

#map .nombre {
    margin-top: 0;
    margin-left: 0;
}

/* panel de Opciones*/

#opciones p {
    font-size: 2rem;
    text-align: justify;
    font-weight: 500;
}

#opciones .pantalla-completa {
    background: #ebedec;
    height: 91vh;
    width: 100%;
}

.OpcionesBotones {
    margin-top: 7%;
    padding-bottom: 3%;
}

.BotonOpt {
    font-size: 2.3rem;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 22px 104px;
    width: 400px;
    margin-left: 9%;
}

#opciones .login {
    background: #ffffffdb;
    height: auto;
    width: 504px;
    position: absolute;
    left: 13%;
}

#opciones .panelsup {
    background: #a8a9ad;
}

#opciones .nombre>h3 {
    background: #cccccc;
}

.nombre {
    float: inherit;
    margin-top: 27%;
    margin-left: -30%;
}

.logo {
    float: right;
}

/* pantalla de empleo*/

.datosBox {
    margin-top: 1%;
    height: auto;
    border: 1px solid black;
    /* width: 25%; */
    height: 100%;
    overflow-y: auto;
}

.box1 {
    border: 1px solid;
    padding-bottom: 1%;
    padding-left: 4%;
    margin-bottom: 6px !important;
}

.directoriobox {
        height: 85vh;
        overflow-y: auto;
        width: 100%;
        position: relative;
}


.direbox {
    padding-left: 3%;
    padding-right: 0%;
    flex-direction: row !important;
    margin-bottom: 10px !important;
}

/* .directorio {
    border-bottom: 1px solid;
} */

#empleo .posicion{
    right: 65%;
}

.control {
    text-align: center;
}

.icono {
    /* margin-top: 6%; */
    margin-left: 0%;
    padding-left: 0px;
    text-align: center;
}

/* .logoEmpresa {
    margin-top: 4%;
} */

.searchBttom {
    margin-bottom: 32px;
    width: 230px;
}

#educacion .posicion {
    right: 0px;
}

/*informacion*/

.btn-nombreUsuario{
    padding: 10px 21px !important;
}
.franja {
    height: calc(100vh - 53px);
    overflow-y: scroll;
    width: 100%;
}

.infoboxEmpleo {
    height: calc(100vh - 91px);
    overflow-y: auto;
}


.btnInfo {
    font-size: 1.7rem;
    width: 283px;
    margin-top: 1%;
}

.btn-modal{
    font-size: 1.7rem;
}
.botonesBottom {
    padding: 15px;
    position: absolute;
    width: calc(100% - 30px);
    left: 30px;
    background: #fff;
    bottom: 0;
}

.center {
    text-align: center;
}

/*informacion*/

 .posicionE {
        margin-top: 16%;
        position: absolute;
        left:calc(100% - 81%);
        top: 12%;
}


.mensajeInformacion {
    width: 43%;
    height: auto;
}

.modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 50px;
}

.btnBienvenido {
    padding-bottom: 6%;
    padding-top: 6%;
}

/*lista de vacante*/

.cuadroGeneral {
    border-top: 1px solid;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.flechacentrado {
    margin-top: 3%;
}

.columna1:hover {
    background: #839aa7;
}

.VacanteBtn {
    padding: 9px 57px;
    margin-left: 18%;
    margin-top: 10%;
}

.columna1 {
    border-top: 1px solid;
}

/* perfil de proveedores*/

.panelCompleto {
    margin-top: calc((100%/2) - 640px);
    height: calc(100vh - 131px);
    ;
    overflow-y: scroll;
    -webkit-box-shadow: -10px -13px 6px 1px rgba(236, 237, 234, 0.41);
    -moz-box-shadow: -10px -13px 6px 1px rgba(236, 237, 234, 0.41);
    box-shadow: -10px -13px 6px 1px rgba(236, 237, 234, 0.41);
}

.ParrafoPerfil {
    padding-top: 3%;
}

.VacanteInfo {
    height: calc(100vh - 130px);
    overflow-y: scroll
}

.postuladosBox:hover {
    background: #839aa7;
}

.postuladosBox {
    padding-top: 1%;
}

.tags {
    width: 144px;
    margin: 0px;
    border-radius: 11%;
}

.btnIVacante {
    margin-left: -9%;
    margin-top: 2%;
    width: calc(100% - 1%)
}

.btnNuevo {
    padding: 10px 237px;
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.scrollbox {
    height: calc(100vh - 159px);
    overflow-y: scroll;
}

.borderimg {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.shadow {
    padding-top: 2%;
    box-shadow: 4px -7px 5px 0px rgba(238, 238, 238, 0.38);
}

.InformacionEmpresa {
    background: whitesmoke;
}

.postuladosLista {
    background: #f5f5f5;
    border-top: 1px solid black;
    border-left: 1px solid;
}

/* perfil postulante*/

.actitud {
    margin-right: -19%;
    text-align: center;
    background: #cccccc2e;
    width: auto;
    height: auto;
    padding-left: 0%;
    margin-top: 1%;
}

.progress-bar {
    color: #333;
}

.boxInfoP {
    margin-top: 2%;
    background: #f5f5f5;
}

.btn-wrapper {
    width: 65%;
}

.logoIndex img {
    height: 120px;
}


.card-container {
    background: rgba(248, 249, 248, 0.85);
    height: auto;
    padding: 60px 30px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in-out;
    border:none;
    margin: 0;
}

.card-solid {
    background: rgba(248, 249, 248, 0.90);
}

.card-container:hover {
    background: rgba(248, 249, 248, 0.90);
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
}
.btn-gradient {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    border: transparent;
    border-radius: 2px;
    box-shadow: 2px 2px 6px 1px #00000040;
    padding: 18px 25px;
    background-image: linear-gradient(120deg, #efaa32 0%, #ff9d81 100%);
    background-color: #f0ad4e;
    color: #fff;
    transition: all .3s ease-in-out;
}

.btn-gradient:hover,
.btn-gradient:active {
    transition: all .3s ease-in-out;
    background-color: #efaa32;
    background-image: none;
    color: #fff;
    transform: scale(1.03);
}

#main-migrant .card-container {
    width: 40%;
    max-width: 100%;
}

#main-migrant .btn-wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
}

#main-migrant .btn-wrapper .btn-gradient {
    margin-left: 5px;
    margin-right: 5px;
}

.chica img {
    width: 100%;
    height: auto;
}

.panelsup .btn-gradient.btnback {
    padding: 5px 20px;
    margin-top: 5px;
    height: 100%;
}

.panelsup .btn-gradient.btn-user {
    padding: 10px 25px;
}

.panelsup .btn-gradient.btn-user:hover,
.panelsup .btn-gradient.btn-user:active,
.panelsup .btn-gradient.btnback:hover,
.panelsup .btn-gradient.btnback:active {
    transform: unset;
}

iframe#typeform-full {
    top: unset;
}

#formulario .posicion {
    right: 4%;
}

.chica .posicion .btn-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.full-height-panel {
    height: calc(100vh - 53px);
}

.chicabox .posicion {
    width: 100%;
    position: static;
    margin-bottom: 20%;
}

.chicabox .posicion img {
    width: 100%;
}

.full-height-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height-flex .card-container {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.full-height-flex-align {
    height: 100%;
    display: flex;
    align-items: center;
}

.background-full-color {
    background-color: #c0c0c0;
}

.no-hover-animation:hover {
    animation: 0;
    margin-bottom: 0;
}

.input-group-addon.btn-gradient {
    padding: 6px 12px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.btn-gradient.btn-short {
    padding: 10px 25px;
}

.box-shadow-short {
    box-shadow: 2px 2px 6px 1px #00000040;
}

.form-control:focus {
    box-shadow: 2px 2px 6px 1px #00000040;
    border-color: #eb9667;
}

.datosBox.card-container {
    height: 85vh;
    position: absolute;
    overflow-y: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.box1 .opciones {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.isotope-grid {
    width: 100%;
}

#btn-clear {
    padding: 8px 20px;
}


.infoboxInformacion.card-container {
    height: 85vh;
}

.logoEmpresa {
    text-align: center;
}

.infoboxInformacion.card-container {
    height: 85vh;
    overflow-y: auto;
    padding: 60px 30px;
    position: relative;
}

.bold-title {
    font-weight: bold;
}

.flex-justify-center {
    justify-content: center;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.86);
    height: 85vh;
    padding: 60px 30px !important;
    overflow-y: auto;
}

#lista-vacante  .columna1 {
    border-radius: 1px;
    border: none;
    min-height: 165px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.21);
    
}

#lista-vacante .main-content .btn-wrapper {
    position: absolute;
    top: 15px;
    right: 30px;
    width: auto;
}

.borderimg {
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 220px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.upload-card .btn-gradient {
    padding: 15px 15px;
}

#info-vacante .full-height-flex {
    flex-direction: column;
}

.vacante-info {
    height: 86vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 60px 30px !important;
    padding-top: 15px !important;

}

.card-container .row {
    width: 100%;
}

.btn-row .btn-gradient {
    width: 100%;
    padding: 10px 20px;
}

.row.btn-row {
    margin-bottom: 10px;
}

.encabezadoEmpresa .borderimg {
    width: 150px;
    height: 150px;
}

.encabezadoEmpresa .borderimg img {
    max-width: 80%;
    height: auto !important;
}

.encabezadoEmpresa {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empresa-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 3px;
}

.empresa-code {
    margin-top: 3px;
    margin-bottom: 3px;
}

.empresa-time {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 700;
    color: cornflowerblue;
}

.btn.btn-tag {
    border: solid 2px rgba(0, 0, 0, 0.18);
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;
    color: #666;
}

.infoExtra .info-title {
    text-transform: capitalize;
    color: cornflowerblue;
    font-weight: 700;
}

.infoExtra .info-wrapper svg {
    font-size: 20px;
    margin-right: 5px;
}

.info-wrapper {
    color: #333;
    display: flex;
    align-items: center;
}

.postuladosBox.card-container {
    flex-direction: row;
    max-height: 145px;
    margin-bottom: 15px;
}

.avatar-img {
    border: solid 2px rgba(204, 202, 202, 0.45);
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatar-img img {
    width: 100%;
    height: auto;
}

.description-field {
    height: 50px;
    display: flex;
    align-items: center;
}

.description-field .description-text {
    font-weight: bold;
}

.postulados-content {
    height: 85vh;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 15px !important;
}

.postulados-content .section-title {
    margin-top: 0;
}

#perfil-postulante .main-content {
    overflow-x: hidden;
}

.ability-item {
    display: inline-block;
    width: calc(98% / 5);
}

.ability-row {
    display: flex;
}

.progress-bar {
    background-image: linear-gradient(120deg, #efaa32 0%, #ff9d81 100%);
}

#perfil-proveedores .borderimg {
    width: 300px;
    height: 300px;
}

.info-empresa {
    margin: 5px 0 5px;
}

#lista-asociaciones .row.full-height-flex {
    flex-direction: column;
    justify-content: unset;
}

.chart-row,
.data-row {
    flex-basis: 0;
}

.chart-row {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-row {
    flex-grow: 3;
}

.lastest-people,
.vacant-list {
    height: 100%;
}

#lista-asociaciones .progress {
    margin-bottom: 10px;
    margin-top: 10px;
}


.flat-card {
    max-height: 145px;
    height: 145px;
    width: 100%;
    background: rgba(51, 51, 51, 0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.flat-card .borderimg {
    width: 110px;
    height: 110px;
    background-color: #fff;
    border: none;
}

.cargo,
.fecha {
    font-size: 1.8rem;
}

.scroll-wrapper {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

#lista-asociaciones .postuladosBox {
    cursor: pointer;
}

#lista-asociaciones .flat-card {
    cursor: pointer;
}

#perfil-postulante .progress {
    margin-top: 10px;
    margin-bottom: 10px;
}

#message-box,
#alexrt-box {
    background: none;
}

#message-box:active,
#alexrt-box:active {
    box-shadow: none;
}

#message-box:focus,
#alexrt-box:focus {
    border: none;
    outline: none;
}

.message-bubble {
    position: absolute;
    width: 300px;
    height: 150px;
    background: #fff;
    right: 100%;
    border-radius: 50%;
    border: solid 2px rgba(51, 51, 51, 0.2);
    z-index: 0;
}

.message-bubble:before {
    content: "";
    position: absolute;
    width: 62px;
    height: 50px;
    background: #fff;
    bottom: 6px;
    right: 20px;
    transform: skewX(23deg) rotate(10deg);
    border: solid 2px rgba(51, 51, 51, 0.2);
    z-index: -2;
}

.message-bubble:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
}

.bubble-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble-text p {
    font-size: 22px;
}

#panel-pick .main-content {
    padding: 20px !important;
}

.canvas-panel {
    width: 100%;
    height: 95%;
    border: solid 2px rgba(141, 142, 143, 0.61);
    background-color: rgba(141, 142, 143, 0.09);
    border-radius: 5px;
}

.toolbar-panel {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.tool-item {
   height: 100%;
   margin: 0 5px;
}

.tool-item > * {
    height: 100%;
    padding: 10px 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flowchart-operator .flowchart-operator-title {
    background: none;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 90%;
    margin-left: 5%;
    white-space: initial;
    text-overflow: initial;
    font-size: 11px;
}

.flowchart-operator-inputs-outputs {
    position: absolute;
    height: 50% !important;
    margin-top: 10px !important;
}

.flowchart-operator {
    height: 40px !important;
    display: table;
}


.tool-section {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.canvas-title {
    background: #fff;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgba(141, 142, 143, 0.61);
}

.canvas-title>* {
    font-weight: bold;
}

.canvas-grid {
    position: absolute;
    width: 100%;
    top: 7%;
    height: 93%;
    display: flex;
}

.grid-item {
    flex-basis: 0;
    flex-grow: 1;
}

.grid-item>* {
    text-align: center;
    padding-top: 5px;
    color: rgba(141, 142, 143, 0.84)
}

.grid-item.right-border {
    border-right: dashed 2px rgba(141, 142, 143, 0.34);
}

.flowchart-operator-inputs-outputs {
    top: calc(50% - 19px) !important;
}