#side-alert-wrapper {
    position: fixed;
    top: 53px;
    right: 0px;
    width: 30%;
    height: calc(100% - 53px);
    z-index: 1000;
    background: rgba(168, 169, 173, 0.97);
    transform: translateX(100%);
    transition: transform .5s ease-in-out, width .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
}

#side-alert-wrapper.sa-in,
#side-alert-wrapper .sa-in {
    transform: translateX(0) !important;
}

#side-alert-wrapper .message {
    background: #fff;
    width: 90%;
    min-height: 70px;
    height: 70px;
    box-shadow: 2px 2px 6px 1px #00000040;
    padding: 18px 25px;
    background-image: linear-gradient(120deg, #efaa32 0%, #ff9d81 100%);
    background-color: #f0ad4e;
    border-radius: 5px;
    margin: 10px 0px 10px;
    position: relative;
    display: flex;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

#side-alert-wrapper .message:after {
    content: "";
    position: absolute;
    width: 84%;
    background: #00000040;
    height: 2px;
    bottom: -12px;
}

#side-alert-wrapper .message .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

#side-alert-wrapper .message .body {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: center;
    width: 70%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#side-alert-wrapper .message .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

#side-alert-wrapper .remitter-name {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

#side-alert-wrapper .message .icon img {
    height: auto;
    width: 100%;
}

#side-alert-wrapper .timer {
    position: absolute;
    right: 3%;
    bottom: 7%;
    font-weight: bold;
}

#side-alert-wrapper .dissmiss {
    position: absolute;
    top: 7%;
    right: 3%;
}

#side-alert-wrapper .content .text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}